<ng-container *ngIf="difficulty$ | async as difficulty">
  <section @fadeIn>
    <span>
      <strong>
        Difficulty: {{ difficulty }}
      </strong>
    </span>

    <ng-container *ngIf="wordsPerMinute$ | async as wordsPerMinute">
      <span>
        <strong>
          Words Per Minute: {{ wordsPerMinute }}
        </strong>
      </span>
    </ng-container>

    <ng-container *ngIf="totalWords$ | async as totalWords">
      <span>
        <strong>
          Total Words: {{ totalWords }}
        </strong>
      </span>
    </ng-container>

    <ng-container *ngIf="totalErrors$ | async as totalErrors">
      <span>
        <strong>
          Total Errors: {{ totalErrors }}
        </strong>
      </span>
    </ng-container>
  </section>
</ng-container>
