<ng-container *ngIf="words$ | async as state">
  <section>
    <span>
      <strong>
        Difficulty: {{ state.difficulty }}
      </strong>
    </span>

    <ng-container *ngIf="state.words.length > 0">
      <span>
        <strong>
          Total Words: {{ state.words.length }}
        </strong>
      </span>
    </ng-container>

    <ng-container *ngIf="state.totalErrors > 0">
      <span>
        <strong>
          Total Errors: {{ state.totalErrors }}
        </strong>
      </span>
    </ng-container>
  </section>
</ng-container>
