@import "../../shared/colors/_colors.scss";
@import "../../shared/button/_button.scss";

@mixin footer-component {
  footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: darken($main-background-color, 5%);
    padding: 16px;

    a,
    span {
      font-size: 1.6rem;
      font-weight: bold;
    }

    a {
      color: $main-color;
      text-decoration: none;
      transition: color ease-in 0.4s;

      &:hover {
        cursor: pointer;
        color: darken($main-color, 30%);
      }
    }

    button {
      width: 25%;
      font-weight: bold;
    }
  }

  @include button;
}
